<marquee behavior="scroll" direction="up"
           onmouseover="this.stop();"
           onmouseout="this.start();">
<p class="display-4"><b>Rules to be followed</b></p>
<ol>
    <li>Make it clear where to login</li>
    <li>Differentiate login from registration</li>
    <li>Allow users to login with an external account </li>
    <li>Use email address, rather than username</li>
    <li>Let users see their password (if they want to)</li>
    <li>Make it easy if users forget their password</li>
    <li>Tell users if Caps Lock is on</li>
    <li>Warn users before locking their account</li>
    <li>Keep users logged in</li>
    <li>Remember users when they return</li>
</ol>
</marquee>