<div class="container">
    <div class="row">

        <div class="col-6 mt-3">
            <img class="rounded-circle" src="assets\dws-tudelft-mooc-camous2-770px.jpg" style="width:100%" style="height:70%">
        </div>
        <div class="col-6">
            <h4 class=" text-primary mt-1">Strategy at TU Delft</h4><br/>
            <p> In the beginning of 2018, the TU Delft presented a new strategic framework for the coming years: the Strategic
                Framework 2018-2024. This Strategic Framework serves as a high-level compass for TU Delft, and provides guidelines
                for the myriad decisions, both big and small, that are taken in every part and level of the University. An
                important note is that this strategic framework has a rather high level of abstraction. The reason for this
                is that TU Delft is active in many areas and engages in so many different activities that a framework that
                sought to address each of them separately would quickly collapse under the weight of too many detailed sub-strategies.
                Those sub-strategies are therefore developed in separate.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>
                Delft University of Technology Technische Universiteit Delft TUDelftSeal.png Former names Koninklijke Akademie van Delft,
                Polytechnische School van Delft, Technische Hoogeschool van Delft Motto Challenge the Future Type Public,
                Technical Established 1842; 176 years ago[1] Budget € 591.1 million (2015)[2] President Prof.dr.ir. T.H.J.J.
                (Tim) van der Hagen[3] Rector Prof.dr.ir. T.H.J.J. (Tim) van der Hagen[3] Academic staff 3,375[4] Administrative
                staff 2,935[4] Students 21,223[4] Undergraduates 11,363[4] Postgraduates 9,860[4] Doctoral students 2,607[4]
                Location Delft, Netherlands 52°0′6″N 4°22′21″ECoordinates: 52°0′6″N 4°22′21″E Campus Urban (University town)
                Nobel Laureates Jacobus van 't Hoff, Simon van der Meer, Heike Kamerlingh Onnes Colors Cyan, Black and White[5]
                Affiliations IDEA, Climate-KIC CESAER, EUA, 4TU, UNITECH, SEFI, SAE, ATHENS, PEGASUS Website www.tudelft.nl/en/
                TU Delft Logo Delft University of Technology (Dutch: Technische Universiteit Delft) also known as TU Delft,
                is the largest and oldest Dutch public technological university, located in Delft, Netherlands. It counts
                as one of the best universities for engineering and technology worldwide, typically seen within the top 20.[6]
                It is repeatedly considered the best university of technology in the Netherlands.[7] With eight faculties
                and numerous research institutes,[8] it hosts over 19,000 students (undergraduate and postgraduate), more
                </p>
        </div>
        <div class="col-6">
            <img class="rounded-circle" src="assets\geotechnologie-1-e1438954516138-1010x570.jpg" style="width:100%" style="height:70%">
        </div>
    </div>
    <router-outlet></router-outlet>