<p>
  Delft University of Technology Technische Universiteit Delft TUDelftSeal.png Former names Koninklijke Akademie van Delft,
  Polytechnische School van Delft, Technische Hoogeschool van Delft Motto Challenge the Future Type Public,
  Technical Established 1842; 176 years ago[1] Budget € 591.1 million (2015)[2] President Prof.dr.ir. T.H.J.J.
  (Tim) van der Hagen[3] Rector Prof.dr.ir. T.H.J.J. (Tim) van der Hagen[3] Academic staff 3,375[4] Administrative
  staff 2,935[4] Students 21,223[4] Undergraduates 11,363[4] Postgraduates 9,860[4] Doctoral students 2,607[4]
  Location Delft, Netherlands 52°0′6″N 4°22′21″ECoordinates: 52°0′6″N 4°22′21″E Campus Urban (University town)
  Nobel Laureates Jacobus van 't Hoff, Simon van der Meer, Heike Kamerlingh Onnes Colors Cyan, Black and White[5]
  Affiliations IDEA, Climate-KIC CESAER, EUA, 4TU, UNITECH, SEFI, SAE, ATHENS, PEGASUS Website www.tudelft.nl/en/
  TU Delft Logo Delft University of Technology (Dutch: Technische Universiteit Delft) also known as TU Delft,
  is the largest and oldest Dutch public technological university, located in Delft, Netherlands. It counts
  as one of the best universities for engineering and technology worldwide, typically seen within the top 20.[6]
  It is repeatedly considered the best university of technology in the Netherlands.[7] With eight faculties
  and numerous research institutes,[8] it hosts over 19,000 students (undergraduate and postgraduate), more
  </p>