<div class="container-fluid bg-primary">
    <div class="row">
        <div class="col-2">
            <nav class="navbar navbar-expand-lg nav-tabs  navbar-light  rounded sticky-top">

                <a href="" class="nav-brand">
                    <img src="assets\uni_profile_48531.jpg" width="100px" height="100px">
                </a>
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId1"
                 aria-controls="collapsibleNavId">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col-6">
                    <h1 style="margin-left:28%"><b>Delft University of Technology </b></h1>
                </div>  
                <div class="col-4 collapse navbar-collapse" id="collapsibleNavId1">
                    <div class="col">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item" style="margin-left:800px">
                                <h4><a routerLink="Home" class="nav-link text-light" (click)="hidelog()"><b>Home</b></a></h4>
                            </li>
                            <li class="nav-item text-dark">
                                <h4><a *ngIf="b" routerLink="Login" class="nav-link text-light" (click)="hidelog()"><b>Login</b></a></h4>
                            </li>
                            <li class="nav-item text-dark">
                                <h4><a routerLink="About" class="nav-link text-light" (click)="hidelog()"><b>About</b></a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<router-outlet></router-outlet> -->




<!-- <div class="ml-5 mt-3 mr-5">
    <nav class="navbar navbar-expand-md nav-tabs navbar-light bg-info">
        <a class="navbar-brand" href="">
            <img src="assets\uni_profile_48531.jpg" class="rounded-circle" width="100px" height="100px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="Home" (click)="hidelog()"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a *ngIf="b" class="nav-link" routerLink="Login" (click)="hidelog()"><b>Login</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-Link" routerLink="About" (click)="hidelog()"><b>About</b></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<h1 class="text text-center texat-info"><b>Delft University of Technology </b></h1>

<router-outlet></router-outlet> -->