<!-- <div class="container">
  <div class="row">
    <div class="col">
      <table border="2">
        <thead>
          <th>Enrollement Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Country</th>
          <th>Gender</th>
          <th>Eail Id</th>
          <th>State Name</th>
          <th>Address</th>
          <th>Student Id</th>
          <th>Student password</th>
          <th>Spring semester</th>
          <th>Fall semester</th>
          <th>Summer semester</th>
          <th>Delete row</th>
          <th>Edit Data</th>
        </thead>

        <tr>
          <td><input name="EnrollementId" [(ngModel)]="data.EnrollementId"></td>
          <td><input name="FirstName" [(ngModel)]="data.EnrollementId"></td>
          <td><input name="LastName" [(ngModel)]="data.LastName"></td>
          <td><input name="Country" [(ngModel)]="data.Country"></td>
          <td><input name="Gender" [(ngModel)]="data.Gender"></td>
          <td><input name="EailId" [(ngModel)]="data.EailId"></td>
          <td><input name="StateName" [(ngModel)]="data.StateName"></td>
          <td><input name="Address" [(ngModel)]="data.Address"></td>
          <td><input name="StudentId" [(ngModel)]="data.StudentId"></td>
          <td><input name="Studentpassword" [(ngModel)]="data.Studentpassword"></td>
          <td><input name="Springsemester" [(ngModel)]="data.Springsemester"></td>
          <td><input name="Fallsemester" [(ngModel)]="data.Fallsemester"></td>
          <td><input name="Summersemester" [(ngModel)]="data.Summersemester"></td>
        </tr>

        <tr>
          <td><input name="EnrollementId" [(ngModel)]="data.EnrollementId"></td>
          <td><input name="FirstName" [(ngModel)]="data.EnrollementId"></td>
          <td><input name="LastName" [(ngModel)]="data.LastName"></td>
          <td><input name="Country" [(ngModel)]="data.Country"></td>
          <td><input name="Gender" [(ngModel)]="data.Gender"></td>
          <td><input name="EailId" [(ngModel)]="data.EailId"></td>
          <td><input name="StateName" [(ngModel)]="data.StateName"></td>
          <td><input name="Address" [(ngModel)]="data.Address"></td>
          <td><input name="StudentId" [(ngModel)]="data.StudentId"></td>
          <td><input name="Studentpassword" [(ngModel)]="data.Studentpassword"></td>
          <td><input name="Springsemester" [(ngModel)]="data.Springsemester"></td>
          <td><input name="Fallsemester" [(ngModel)]="data.Fallsemester"></td>
          <td><input name="Summersemester" [(ngModel)]="data.Summersemester"></td>
        </tr>

        <tr>
          <td><input name="EnrollementId" [(ngModel)]="data.EnrollementId"></td>
          <td><input name="FirstName" [(ngModel)]="data.EnrollementId"></td>
          <td><input name="LastName" [(ngModel)]="data.LastName"></td>
          <td><input name="Country" [(ngModel)]="data.Country"></td>
          <td><input name="Gender" [(ngModel)]="data.Gender"></td>
          <td><input name="EailId" [(ngModel)]="data.EailId"></td>
          <td><input name="StateName" [(ngModel)]="data.StateName"></td>
          <td><input name="Address" [(ngModel)]="data.Address"></td>
          <td><input name="StudentId" [(ngModel)]="data.StudentId"></td>
          <td><input name="Studentpassword" [(ngModel)]="data.Studentpassword"></td>
          <td><input name="Springsemester" [(ngModel)]="data.Springsemester"></td>
          <td><input name="Fallsemester" [(ngModel)]="data.Fallsemester"></td>
          <td><input name="Summersemester" [(ngModel)]="data.Summersemester"></td>
        </tr>
      </table>
    </div>
  </div>
</div> -->