  <div class="container">
      <div class="jumbotron">
    
        <form #a="ngForm" (ngSubmit)="onSubmit(a.value)">
          <div class="row">
    
            <div class="col-5">
              <div class="form-group">
                <label for="b">Enter Enrollement Id*</label>
                <input type="text" id="b" name="EnrollementId" class="form-control" required name="EnrollementId" #ref1=ngModel [(ngModel)]="EnrollementId">
                <p *ngIf="ref1.invalid&&ref1.touched" class="alert alert-danger">*field required</p>
              </div>
              <div class="form-group">
                <label for="d">Enter First Name:</label>
                <input type="text" id="d" name="FirstName" class="form-control" required name="EnrollementId" #ref2=ngModel [(ngModel)]="FirstName">
                <p *ngIf="ref2.invalid&&ref2.touched" class="alert alert-danger">*field required</p>
              </div>
              <div class="form-group">
                <label for="e">Enter Last Name:</label>
                <input type="text" id="e" name="LastName" class="form-control" [(ngModel)]="LastName">
              </div>
              <div class="form-group">
                <label for="i">Enter Country:</label>
                <input type="text" id="i" name="Country" class="form-control" required name="Country" #ref3=ngModel [(ngModel)]="Country">
                <p *ngIf="ref3.invalid&&ref3.touched" class="alert alert-danger">*field required</p>

              </div>
              <label>Gender:</label>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Gender1" class="form-check-input" value="male" [(ngModel)]="Gender1"> Male
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" name="Gender2" class="form-check-input" value="female" [(ngModel)]="Gender2"> Female
                </label>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <label for="b">Enter Eail Id:</label>
                <input type="text" id="b" name="EailId" class="form-control" required name="EailId" #ref4=ngModel [(ngModel)]="EailId">
                <p *ngIf="ref4.invalid&&ref4.touched" class="alert alert-danger">*field required</p>
              </div>
              <div class="form-group">
                <label for="d">Enter State Name:</label>
                <input type="text" id="d" name="StateName" class="form-control" required name="StateName" #ref5=ngModel [(ngModel)]="StateName">
                <p *ngIf="ref4.invalid&&ref4.touched" class="alert alert-danger">*field required</p>
              </div>
              <div class="form-group">
                <label for="e">Enter Address:</label>
                <textarea id="e" name="Address" class="form-control" rows="5" [(ngModel)]="Address"></textarea>
              </div>
            </div>
            <div class="mt-5">
              <button type="submit" class="btn btn-primary" style="margin-left:460px">Register</button>
    
            </div>
          </div>
        </form>
      </div>
    
    </div>
    <router-outlet></router-outlet>