<!-- <h1 class="text-center text-primary"><i>Delft University of Technology</i></h1> -->
<p>Delft University of Technology (Dutch: Technische Universiteit Delft) also known as TU Delft,
     is the largest and oldest Dutch public technological university, located in Delft, Netherlands.
      It counts as one of the best universities for engineering and technology worldwide, typically
       seen within the top 20.[6] It is repeatedly considered the best university of technology in 
       the Netherlands.</p>
<div class="container">
    <div class="row">
        <div class="col">
            <div id="x" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets\Sub-Saharan-Africa-Excellence-Scholarships-2018-in-Netherlands.jpg" style="width:100%" height="400px">
                    </div>
                    <div class="carousel-item">
                        <img src="assets\library-delft-university-of-technology-the-heart-of-tu-delft-4.jpg" style="width:100%" height="400px">
                    </div>
                    <div class="carousel-item">
                        <img src="assets\TUDelft4.jpg" style="width:100%" height="400px">
                    </div>
                    <div class="carousel-item">
                            <img src="assets\MVRDV-Richard-Hutten-Lensvelt-Custom-Workbenches-Delft-University-of-Technology-The-Why-Factory-3.jpg" style="width:100%" height="400px">
                        </div>
                        <div class="carousel-item">
                                <img src="assets\1678e-int0002_bewerkt.jpg" style="width:100%" height="400px">
                            </div>
                    <a class="carousel-control-prev" href="#x" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#x" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h5 class="display-4 text-center text-info"><b>Delft University of Technology</b></h5>
<p>After the end of World War II, TU Delft increased its rapid academic expansion.
 Studium Generale was established at all universities in the Netherlands, including TU Delft,
  to promote a free and accessible knowledge related to culture, technology, society and science.
   Because of the increasing number of students, in 1974 the first Reception Week for First Year 
   Students (Ontvangst Week voor Eerstejaar Studenten, OWEE) was established, which became a TU Delft
    tradition since then.

On 1 September 1986, the Delft Institute of Technology officially changed its name to Delft University
 of Technology, underlining the quality of the education and research provided by the institution.
  In the course of further expansion, in 1987 Delft Top Tech[11] institute was established,
   which provided a professional master education in management for people working in the
    technology-related companies. On 1 September 1997, the 13 faculties of the TU Delft 
    were merged into 9, to improve the management efficiency of the growing university.
     In the early 1990s, because the vast majority of the students of the university were male,
      an initiative to increase the number female students resulted in founding a separate emancipation
       commission. As a result, Girls Study Technology (Meiden studeren techniek) days were established.
        In later years the responsibilities of the commission were distributed over multiple institutes.</p>
    <router-outlet></router-outlet>